.profilePicture {
    padding-top: 1vh;
    animation: ScaleSpin 0.5s ease-in-out forwards;
}

.profilePicture > img:hover {
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}

.wave:hover {
    animation: Wave 0.5s linear forwards;
}

@keyframes Wave {
    0% {
        transform: rotate(0) scale(1);
    }

    25% {
        transform: rotate(-15deg) scale(1.25);
    }

    50% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes ScaleSpin {
    from {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    to {
        transform: scale(1.1) rotate(360deg);
        opacity: 1;
    }
}
