.projectCard {
    width: 18.2vw;
    min-height: 50vh;
    padding: .9vw;
    background-color: var(--background-card);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectCard:hover {
    background-color: var(--background-hover);
    transform: scale(1.025);
    transition: transform .25s;
    border-left: 1px solid var(--card-hover-border);
}
