.projectCard {
    width: 350px;
    height: 50vh;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background-card);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectCard:hover {
    background-color: var(--background-hover);
    transform: scale(1.025);
    transition: transform .25s;
    border-left: 1px solid var(--card-hover-border);
}
