.skill {
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    aspect-ratio: 1/1;
}

.skill:hover {
    background: #202020;
}

.skill:hover {
    transform: scale(1.2);
    transition: transform .25s;
}

/* Credit: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flipCard {
    width: 96px;
    height: 96px;
}

.flipCardInner {
    padding: 0;
    position: relative;
    text-align: center;
    transition: transform .5s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    perspective: 8000px;
}

.flipCardFront > img {
    margin: 0 auto;
    height: 96px;
}

.flipCardBack {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipCardBack > h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flipCardBack {
    transform: rotateY(180deg);
}