.App {
    color: white;
    font-size: 0.7vw;
    text-align: center;
    padding: 2px;
}

.App:hover {
    cursor: pointer;
}

.App > div > img {
    width: 80%;
    height: 80%;
    margin: auto;
}