.computer {
    position: fixed;
    width: 92.5vw;
    height: 92.5vh;
    top: 3.75vh;
    left: 3.75vw;
    background: #000000;
    opacity: 1;
}

.computer > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.computer > div[id="close"] {
    position: absolute;
    top: 1vh;
    right: 1vw;
    color: #ffffff;
    cursor: pointer;
    font-size: 1vw;
    font-weight: bold;
    z-index: 100;
}